@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    html {
        scroll-snap-type: none;
    }

    .topnav-left {
        display: none;
    }

    .navbar a {
        font-size: 16px;
        color: rgb(255, 255, 255);
    }

    .navbar a:hover {
        color: rgba(255, 255, 255, 0.667);
        transition: 0.2s ease;
    }

    h1 {
        font-size: 24px;
        color: #000;
    }

    p {
        font-size: 12px;
    }

    .about-text {
        color: #000;
    }

    .accent {
        color: #ecc7cd;
    }

    body {
        background: linear-gradient(90deg, #ecc7cd 50%, #ecc7cd 50%);
    }

    .flex-container {
        background-color: #fff;
    }

    section {
        height: 100%;
    }

    .me-picture {
        width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .section-7 {
        padding: 1rem;
    }

    .section-0 {
        min-height: 40vh;
    }
}

@media screen and (max-height: 870px) {
    .me-picture {
        max-height: 90%;
        left: 100;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
